.list-category {
  font-size: 2.5em;
  background-color: hsl(180, 100%, 50%);
  color: hsl(0, 0%, 20%);
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  font-weight: bold;
}

.list-items {
  font-size: 2em;
  list-style: none;
  color: hsl(0, 0%, 25%);
  text-align: center;
  margin: 0;
}

.list-items :hover {
  color: hsl(0, 0%, 45%);
  cursor: pointer;
}